.section {
	background-color: #fff;
	margin: 15px 0;
	box-shadow: 0px 0px 3px rgb(170, 157, 157);
}

.section__top {
	padding: 20px;
	border-bottom: 1px solid #e5e2e2;
}

.section__top--body {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr auto;
}

@media (max-width: 767px) {
	.section__top--body {
		grid-template-columns: 1fr;
	}
}

.section__title {
	margin: 0;
}

.section__buttons {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
}

@media (max-width: 767px) {
	.section__buttons {
		grid-template-columns: 1fr;
	}
}

.section__button {
	cursor: pointer;
	border: none;
	background: transparent;
	color: #1283a5;
	transition: all 0.3s;
}

.section__button:hover {
	color: hsl(194, 80%, 26%);
}

.section__button:active {
	color: hsl(194, 80%, 21%);
}

@media (max-width: 767px) {
	.section__button:first-child {
		margin-top: 15px;
	}
}

.section__button:disabled {
	color: rgb(184, 180, 180);
	cursor: default;
}
